.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.title{
  font-family: 'Tangerine', cursive;
  background-image: linear-gradient(red,yellow); 
}
.box-title{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: skyblue;
  color: #ee5a35;
  border: 1px solid black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
h3{
  padding: 0;
  display: inline-block;
  width: 100%;
  align-items: space-around;
  font-family: 'Special Elite', cursive;
}
ol {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to right, orange, skyblue)
}

.App-link {
  color: #61dafb;
}
button{
  padding: 10px;
  margin: 3px 8px;
  color: purple;
  font-size: 14px;
  font-weight: bold;
   border-radius: 10px;
}
.button{
  width: 25%;
  margin: 0 auto;
  border: 2px solid rgba(33,68,72)
}
a.button:hover{
  background: #3d7a80;
  background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
